
@{
    ViewData["Title"] = "Suppliers";
}
<section class="py-5">

        <a asp-controller="Supplier" asp-action="ListaOk" class="btn btn-secondary" role="button" aria-pressed="true">
            Visa OK
        </a>

    <a asp-controller="Supplier" asp-action="ListaInvest" class="btn btn-secondary" role="button" aria-pressed="true">
        Visa de som är Under Investigation
    </a>

</section>




